<li>Represented by the <b>chairperson/one</b> of the group members.</li>
<li>Participants <b>must</b> attend the Technical Meeting from the beginning until the end.</li>
<li>Participants are <b>highly requested</b> to join the Zoom meeting 30 minutes before the Technical Meeting starts.</li>
<li>Participants <b>have to</b> wear appropriate clothing while attending the Technical Meeting.</li>
<li>Participants are <b>prohibited</b> from wearing clothing/attributes that indicate their origin of institution.</li>
<li>Participants are <b>prohibited</b> from using the name format indicating their origin of the institution.</li>
<li>Participants <b>must</b> pay attention and not make noise during the Technical Meeting.</li>
<li>Participants are <b>expected</b> to use the virtual background: [LINK]</li>
<li>Participants are <b>expected</b> to turn on their cameras during the event.</li>
<li>Participants <b>have to</b> mute their microphones during the event.</li>
<li>Participants are <b>allowed</b> to ask through the chatbox or unmute their mic after using the "raise hand" feature in the QnA session.</li>
<li>Participants are <b>not allowed</b> to leave the Zoom meeting without the committee's permission.</li>
<li>Participants who do not attend <b>must</b> accept the results of the Technical Meeting.</li>
<li>There is <b>no re-explanation</b> of information during the Technical Meeting to participants/groups who were not present.</li>
<li>It is <b>prohibited</b> to display or show videos and/or images related to pornography, smoking, liquor, and others that violate the ITE Law of the Republic of Indonesia.</li>
<li>Participants <b>must</b> obey all the rules that have been made by the committee.</li>