// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$headings-font-weight: 600;

// Shadow
$box-shadow-sm: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));

// Colors
$primary: #691B99;

// Add colors
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

$custom-colors: (
    'purple-100' : #F2E8F8,
    'red-100' : $red-100,
    'red-800' : $red-800,
    'orange-400' : $orange-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);



