// ------ DATATABLES ------
.table-participant, .table-general, .table-debate {
    margin-top: .75rem !important
}

.table-participant th {
    border-bottom: none;
}

.dataTables_filter, .dataTables_paginate {
    float: right;
}

.dataTables_length .form-select {
    display: inline;
    width: inherit;
}

.dataTables_filter .form-control {
    display: inline;
    width: inherit;
    margin-left: 0.5rem;
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 26px;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 0.125;
    right: 10px;
    line-height: 9px;
    font-size: 0.9em;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "▴";
}

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
    top: 50%;
    content: "▾";
}
table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
    opacity: 0.6;
}

table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before {
    display: none;
}

div.dataTables_scrollBody > table > thead .sorting:before,
div.dataTables_scrollBody > table > thead .sorting_asc:before,
div.dataTables_scrollBody > table > thead .sorting_desc:before,
div.dataTables_scrollBody > table > thead .sorting:after,
div.dataTables_scrollBody > table > thead .sorting_asc:after,
div.dataTables_scrollBody > table > thead .sorting_desc:after {
    display: none;
}

table.dataTable.table-sm > thead > tr > th:not(.sorting_disabled) {
    padding-right: 20px;
}

table thead th {
    font-weight: 600;
}


// ------ CUSTOM MODAL SCROLLBAR ------
.modal-dialog-scrollable ::-webkit-scrollbar {
    width: .6em;
}

.modal-dialog-scrollable ::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.modal-dialog-scrollable ::-webkit-scrollbar-thumb {
    background-color: #F3F4F5;
    border-radius: 100vw;
}


// ------ CUSTOM BUTTONS ------
.btn{
    font-weight: 500;
}

.btn-outline-light {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: #ced4da;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-border-color: var(--bs-btn-border-color);
}

.btn-selection {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: #ced4da;
    --bs-btn-hover-color: var(--bs-gray-900);
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-purple-100);
    font-weight: normal;
}

.btn-primary-neon {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #6500C4;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#6500C4, 10%)};
    --bs-btn-hover-border-color: none;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    box-shadow: 0px 0px 10px rgba(101, 0, 195, 0.8);
}

.btn-pink-neon {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #B000B9;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#B000B9, 10%)};
    --bs-btn-hover-border-color: none;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    box-shadow: 0px 0px 10px rgba(221, 0, 248, 0.8);
}

.btn-dropdown {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--bs-btn-color);
    --bs-btn-hover-bg: var(--bs-purple-100);
    --bs-btn-active-color: var(--bs-btn-color);
    --bs-btn-active-bg: var(--bs-purple-100);
}

.btn-faq {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #373086;
    --bs-btn-border-color: none;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#373086, 10%)};
    --bs-btn-hover-border-color: none;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
}


// ------ SIDEBAR ------
.sidebar {
    width: 13rem;
    position: fixed;
    height: 100%;
    background-color: white;
    color: $gray-600;
    overflow: scroll;
}

.sidebar-content {
    font-size: 13px;
    padding: 2.5rem .25rem 4.5rem .25rem;
}

.sidebar .nav .nav-link.active {
    color: $primary;
}

.page-content {
    flex-grow: 1;
    margin-left: 13rem;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
.sidebar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
.sidebar::-webkit-scrollbar-thumb:active {
    background: #525965;
}
.sidebar::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sidebar::-webkit-scrollbar-track:hover {
    background: transparent;
}
.sidebar::-webkit-scrollbar-track:active {
    background: transparent;
}
.sidebar::-webkit-scrollbar-corner {
    background: transparent;
}

// ------ CUSTOM NAV TABS ------
#competitionTab .nav-link, #faqTab .nav-link, #tcTab .nav-link {
    background-color: #fff;
    border: 1px solid $gray-300;
    border-radius: 10rem;
}

#competitionTab .nav-link.active, #faqTab .nav-link.active, #tcTab .nav-link.active {
    background-color: $purple-100;
    border: 1px solid $primary;
    border-radius: 10rem;
    color: $primary;
}


// ----- TITLE SECTION -----
.section-title {
    color: #EFD7FF;
    margin-bottom: 3rem;
    text-align: center;
}

.section-title h6 {
    letter-spacing: 0.1em;
}

.section-title h1 {
    letter-spacing: 0.1em;
    font-family: 'Bungee';
    text-shadow: 0px 4px 6px #890475;
    filter: drop-shadow(0px 2px 4px #FFF3FD);
}


// ----- SECTIONS -----
#header1 {
    height: 50rem;
    background: url('/storage/images/assets/section_1.png') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header2 {
    height: 18rem;
    background: url('/storage/images/assets/header.png') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: url('/storage/images/assets/section_2.png') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#competitions {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #0F002F 0%, #2E0342 47.22%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #2C0343 -2.48%, #060045 54.3%, #090333 93.93%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #06013F 0.01%, #04002F 0.02%, #5B356F 58.65%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#judges {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #060408 0%, #69529A 49.27%, #0E0C47 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#judges .section-title h6, #judges .section-title p, #judges .section-title h1 {
    text-align: left;
}

#testimony {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: radial-gradient(107.28% 103.61% at 54.84% -3.61%, #0F0D48 66.15%, #070334 91.6%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #070334 0%, #20013E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#merchandise {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #1F003D 0%, #2C297A 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #2C297A 0%, #000B34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-custom {
    background: linear-gradient(180deg, #000B35 0%, #483E6F 86.83%);
}

#sponsor {
    padding-top: 20rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#medpar {
    padding-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

// ----- CUSTOM TEXT COLORS -----
.text-orange {
    color: $orange;
}

// ----- CUSTOM BACKGROUND COLORS -----
.bg-orange-100 {
    background-color: $orange-100;
}

.bg-red-100 {
    background-color: $red-100;
}


// ----- FONT STYLE -----
.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fs-sm {
    font-size: small;
    margin-bottom: 0.25rem;
}

.p-custom p {
    font-size: small;
    margin-bottom: .25rem;
}


// ------ CUSTOM COMPONENTS ------
.nav-link {
    color: rgba(0,0,0,0.65);
}

.dropdown-menu {
    --bs-dropdown-link-active-color: #DEE2E6;
    --bs-dropdown-link-active-bg: #e9ecef;
}

.title-bar {
    position: absolute;
    width: 4px;
    height: 24px; 
    background-color: $primary;
    left:0;
}

.title-line {
    display: flex;
    flex-direction: row;
}

.title-line:after {
    content: "";
    flex: 1;
    border-bottom: 1px dashed rgb(182, 182, 182);
    margin: auto;
    margin-left: 5px;
}

#registrationTab .nav-link.active, #participantTab .nav-link.active {
    color: $primary;
    border-bottom: 3px solid $primary;
    margin-bottom: -1px
}

#registrationTab .nav-link, #participantTab .nav-link {
    padding: 1rem 1rem .75rem 1rem;
    margin: 0;
    border: none;
    background: none;
    font-weight: 500;
    color: #6c757d;
}

#formTab .nav-link.active {
    color: $primary;
}

.input-img {
    width: 125px;
    height: 125px;
    border: 1.5px dashed #ced4da;
    border-radius: .5rem;
    cursor: pointer;
}

.input-img:hover {
    border-color: $primary;
}

.input-spinner input::-webkit-outer-spin-button,
.input-spinner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-custom {
    border: none;
    box-shadow: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
    padding: .5rem;
    border-radius: .5rem;
}

.card-competition:hover img {
    filter: drop-shadow(0px -0px 3px rgba(188, 117, 255, .5)) drop-shadow(-0px -0px 3px rgba(188, 117, 255, .5)) drop-shadow(-0px 0px 3px rgba(188, 117, 255, .5)) drop-shadow(0px 0px 3px rgba(188, 117, 255, .5));
    transition-duration: .3s;
}

.card-header-custom {
    border-radius: .25rem .25rem 0 0;
    padding: .75rem 1rem;
    background-color: var(--bs-purple-50);
    display: flex;
    justify-content: space-between;
}

.card-cp {
    color: #EFD7FF;
    background: linear-gradient(214.25deg, rgba(134, 91, 255, 0.56) 6.73%, rgba(0, 0, 0, 0.084) 100.28%);
    box-shadow: 0px 19.5394px 86.118px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(9.07755px);
    padding: 2rem;
    border-radius: 1rem;
}

.card-pack {
    background: linear-gradient(144.39deg, rgba(165, 162, 255, 0.7) 2.31%, #FFFFFF 97.39%);
    backdrop-filter: blur(11.1792px);
    box-shadow: 0px 10px rgba(165,162,255,70%);
    border: none;
    padding: 1rem;
}

.card-judge {
    background: linear-gradient(144.39deg, #FF95FB 2.31%, #551C3E 97.39%);
    backdrop-filter: blur(12.6336px);
}

.card-testimony {
    padding: 2rem;
    backdrop-filter: blur(12px);
    background: radial-gradient(46% 127.27% at 92.29% 92.71%, rgba(76, 26, 238, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    border: none;
}

.card-support {
    backdrop-filter: blur(12px);
    background: #c7bbff33;
    padding: 2rem;
    border-radius: 1rem;
}

.list-custom .list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0.5rem;
}

.li-custom li {
    margin-bottom: .25rem;
}

b {
    font-weight: 600;
}

.img-pack {
    position: absolute;
}

.btn-linear {
    background: linear-gradient(95.71deg, rgba(38, 35, 129, 0.8) 8.56%, rgba(15, 0, 47, 0.8) 100.01%);
}

#guestNavbar {
    background: rgba(71, 11, 72, 0.2);
    backdrop-filter: blur(5px);
}

#guestNavbar.navbar-toggler:focus #guestNavbar {
    background: rgb(95, 143, 40);
}

#guestNavbar.navbar-toggler:active #guestNavbar {
    background: rgb(95, 143, 40);
}

#guestNavbar .nav-link {
    color: $purple-100;
}


// ----- CAROUSEL CUSTOM -----
#competitionCarousel .carousel-indicators, #testimonyCarousel .carousel-indicators, #detailsCarousel .carousel-indicators {
    position: static;
}

#detailsCarousel .carousel-inner {
    overflow: visible;
    height: 350px !important;
}

#competitionCarousel .carousel-indicators button,  #detailsCarousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }

 #testimonyCarousel .carousel-indicators img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: linear-gradient(111.68deg, rgba(221, 221, 221, 0.15) 7.59%, rgba(221, 221, 221, 0.3) 102.04%);
    border: 1px solid rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(9.51351px);
    padding: 0.3rem;
 }

#testimonyCarousel .carousel-indicators img.active {
    background: linear-gradient(133.77deg, #412BA0 14.41%, #6555BC 54.01%, #BBB9FF 87.1%);
    mix-blend-mode: lighten;
 }


// ----- TABLE CUSTOM -----
.table-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.td-custom td {
    padding: .25rem;
}

// ----- BREAKPOINTS -----
@include media-breakpoint-only(xs) {
    .border-custom{
        border-top: 8px solid #F3F4F5;
    }

    .img-size {
        width: 50%;
    }

    .img-pack {
        width: 25%;
        top: 0;
        left: 0;
        transform: translate(35%, -50%) !important;
    }

    .gy-custom {
        --bs-gutter-y: 5rem;
    }

    .img-timeline {
        transform: scale(1.2);
    }

    .shadow-custom {
        box-shadow: none;
    }

    .width-custom {
        width: 100%;
    }

    footer {
        background: linear-gradient(180deg, #4D04BE 0%, #2A0162 86.49%);
        box-shadow: 8px -5px 40px rgba(0, 0, 0, 0.75);
    }

    footer .img-neo {
        width: 90%;
    }

    #detailsCarousel {
        width: 75%;
    }
}

@include media-breakpoint-only(sm) {
    .border-custom{
        border-top: 8px solid #F3F4F5;
    }

    .img-size {
        width: 50%;
        
    }

    .img-pack {
        width: 25%;
        top: 0;
        left: 0;
        transform: translate(35%, -50%) !important;
    }

    .gy-custom {
        --bs-gutter-y: 5rem;
    }

    .shadow-custom {
        box-shadow: none;
    }

    .width-custom {
        width: 100%;
    }

    footer {
        background: linear-gradient(180deg, #4D04BE 0%, #2A0162 86.49%);
        box-shadow: 8px -5px 40px rgba(0, 0, 0, 0.75);
    }

    footer .img-neo {
        width: 90%;
    }

    #detailsCarousel {
        width: 75%;
    }
}

@include media-breakpoint-only(md) {
    .border-custom{
        border-top: 8px solid #F3F4F5;
    }

    .img-size {
        width: 50%;
    }

    .img-pack {
        width: 15%;
        top: 0;
        left: 0;
        transform: translate(-50%, 50%) !important;
    }

    .shadow-custom {
        box-shadow: none;
    }

    .width-custom {
        width: 75%;
    }

    footer {
        background: url('/storage/images/assets/footer.svg') top center;
        background-repeat: no-repeat;
    }

    footer .img-neo {
        width: 100%;
    }

    #detailsCarousel {
        width: 40%;
    }
}

@include media-breakpoint-only(lg) {
    .border-custom{
        border-left: 1px solid #DEE2E6;
    }

    .img-size {
        width: 50%;
    }

    .img-pack {
        width: 35%;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%) !important;
    }

    .shadow-custom {
        box-shadow: none;
    }

    .width-custom {
        width: 75%;
    }

    footer {
        background: url('/storage/images/assets/footer.svg') top center;
        background-repeat: no-repeat;
    }

    footer .img-neo {
        width: 100%;
    }

}

@include media-breakpoint-only(xl) {
    .border-custom{
        border-left: 1px solid #DEE2E6;
    }

    .img-size {
        width: 25%;
    }

    .img-pack {
        width: 35%;
        top: 0;
        left: 0;
        transform: translate(35%, -50%) !important;
    }

    .width-custom {
        width: 75%;
    }

    #header1 .section-title h1 {
        font-size: 4rem;
    }

    footer {
        background: url('/storage/images/assets/footer.svg') top center;
        background-repeat: no-repeat;
    }

    footer .img-neo {
        width: 85%;
    }

}

@include media-breakpoint-only(xxl) {
    .border-custom{
        border-left: 1px solid #DEE2E6;
    }

    .img-size {
        width: 25%;
    }

    .img-pack {
        width: 35%;
        top: 0;
        left: 0;
        transform: translate(35%, -50%) !important;
    }

    .width-custom {
        width: 75%;
    }

    #header1 .section-title h1 {
        font-size: 4rem;
    }

    footer {
        background: url('/storage/images/assets/footer.svg') top center;
        background-repeat: no-repeat;
        background-size: 200vw 100vh;
    }

    footer .img-neo {
        width: 85%;
    }

}



